@keyframes parallax-landscape-background {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: calc(var(--page-scroll-max, 0px) * -0.03);
  }
}
@keyframes parallax-landscape-midground {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: calc(var(--page-scroll-max, 0px) * -0.08);
  }
}
@keyframes parallax-landscape-foreground {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: calc(var(--page-scroll-max, 0px) * -0.18);
  }
}

.animate-parallax-landscape-background {
  animation: parallax-landscape-background auto linear both;
  animation-timeline: scroll(root);
  background-size: auto calc(20% + 0.5px);
}
.animate-parallax-landscape-midground {
  animation: parallax-landscape-midground auto linear both;
  animation-timeline: scroll(root);
  background-size: auto calc(23% + 0.5px);
}
.animate-parallax-landscape-foreground {
  animation: parallax-landscape-foreground auto linear both;
  animation-timeline: scroll(root);
  background-size: auto calc(30% + 0.5px);
}

@media (prefers-reduced-motion: reduce) {
  .animate-parallax-landscape-background,
  .animate-parallax-landscape-midground,
  .animate-parallax-landscape-foreground {
    animation: none;
  }
}
