@keyframes fade-sun {
  from {
    translate: -50% 0;
  }
  to {
    translate: -50% var(--sun-target-y);
  }
}
.sun-fade {
  --sun-target-y: calc(-62.5svh - 3.75rem);
  animation: fade-sun auto linear both;
  animation-timeline: scroll(root);
  animation-range: 94% 100%;
}

@keyframes parallax-landscape-clouds {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: calc(var(--page-scroll-max, 0px) * -0.01);
  }
}
.parallax-landscape-clouds {
  animation: parallax-landscape-clouds auto linear both;
  animation-timeline: scroll(root);
  background-size: auto calc(30% + 0.5px);
}

@keyframes parallax-landscape-background {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: calc(var(--page-scroll-max, 0px) * -0.03);
  }
}
.parallax-landscape-background {
  animation: parallax-landscape-background auto linear both;
  animation-timeline: scroll(root);
  background-size: auto calc(30% + 0.5px);
}

@keyframes parallax-landscape-midground {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: calc(var(--page-scroll-max, 0px) * -0.08);
  }
}
.parallax-landscape-midground {
  animation: parallax-landscape-midground auto linear both;
  animation-timeline: scroll(root);
  background-size: auto calc(30% + 0.5px);
}

@keyframes parallax-landscape-foreground {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: calc(var(--page-scroll-max, 0px) * -0.13);
  }
}
.parallax-landscape-foreground {
  animation: parallax-landscape-foreground auto linear both;
  animation-timeline: scroll(root);
  background-size: auto calc(30% + 0.5px);
}

@media (prefers-reduced-motion: reduce) {
  .sun-fade,
  .parallax-landscape-clouds,
  .parallax-landscape-background,
  .parallax-landscape-midground,
  .parallax-landscape-foreground {
    animation: none;
  }
}

@media (min-width: 768px) {
  .sun-fade {
    --sun-target-y: calc(-64.5svh - 3.75rem);
  }
}
